html{
    height:100%;
}

.tab-content{
    margin-top: 20px;
    border: 2px solid black;
    height: 80%;
}

.nav-pills{
    background-color: white !important;
    border-radius: 0;
}

.nav-pills > li > a{
    background-color: white !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid red;
}

.nav-pills > li > a:hover{
    background-color: white !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: white !important;   
}
