html{
    height:100%;
}

.tab-content{
    margin-top: 20px;
    border: 2px solid black;
    height: 80%;
    padding: 10px !important;
}

.nav-pills li {
    margin-left: 10px; 
} 

.nav{
    color: #337ab7 !important;
}

.nav-tabs>li, .nav-pills>li{
    float: none !important;
    display: inline-block !important;
    margin-left: 5px;
}

.nav-tabs, .nav-pills{
    background-color: white !important;
    color: #337ab7 !important;
    border-radius: 0;
    text-align: center !important;
}

.nav-pills > li > a{
    background-color: white !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid red;
    color: #337ab7 !important;
}

.nav-pills > li > a:hover, .nav-pills>li>a:focus, .nav-pills>li>a.active{
    text-decoration: none;
    background-color: white !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    color: #337ab7 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: white !important;   
    color: #337ab7 !important;
    border-bottom: 1px solid black;
}

.center-pills{
    display: flex;
    justify-content: center;
}

.downloadBtnClear{
    background-color: white !important;
    border: none !important;
    border-radius: 0 !important;
    text-decoration: none !important;
    
}

.downloadIcon-small{
    border: 1px solid red;
    height: 10px;
    width: 10px;
}
